body{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;

    position: sticky;
    
    
}
h1{
    color: rgb(180, 255, 4);
    margin: 0% 5%;
    font-size: 3rem;
    text-shadow: rgb(0, 0, 0);
}
nav{
display: flex;
justify-content: space-around;
align-items:center;
margin: 0% 5%;
height: 20vh;


}
li{
    margin-left: 0%;

}
li a  {
    color: white;
    font-size: 20px;
}

section{
    background-image: url("../assest/images/home.jpg");
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
    
}
#what-we-do{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: none;
    background-color: violet;
    
}
h2{
    color: white;
    font-size: 2.5rem;
    
}
p{
    color: white;
    margin: 5%;
}

#our-team{
background-color: teal;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
background-image: none;
height: 100vh;
}
.team-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
#contact{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 150vh;
    background-image: none;
    background-color: black;

}
h4{
    color: white;
    font-size: 2rem;
}

h3{
    color: white;
}
.contact-info{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
    max-height:80vh ;
    
    
    
    
}
.map{
    position: relative;
    right:20%;
    width: 40vh;
}

iframe {
    
    height: 40vh;
    width: 40vh;
  
  }
.contact-address{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.contact-address h3{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
    color: white;
    
  }
  

address{
    color: white;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
}
a{
    text-decoration: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color:black;
   
    padding: 40px 35px;
  }
  footer h2 {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
  }
  footer div {
    
  }
  footer a {
    color: #ffffff;
  }